@import 'variables';

#homeView--content{
    height: 100vh;
    background-color: $main-blue;
}

#home{
    /*width: 100%;*/
    /*height: 100vh;*/
    /*background-image: url(../../img/background/backgroundInitial.png);*/
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: $main-blue;
    color: $white;
}

.about--story__circle{
    height: 100px;
    width: 100px;
    display: table-cell;
    text-align: center;
    font-size:30px;
    vertical-align: middle;
    border-radius: 50%;
    background: $green;
}