@import 'menu';
@import 'contact';
@import 'Home';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

//fonts
$main-font: 'Montserrat';

body{
    font-family: $main-font;
}

.justify{
    text-align: justify;
}

.center{
    align-items: center;
}