@import 'variables';
@import 'menu';
@import 'contact';
@import 'Home';
@import 'service';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

//fonts
$main-font: 'Montserrat';

body{
    font-family: $main-font;
}

.justify{
    text-align: justify;
}

.center{
    align-items: center;
}

.bold{
    font-weight: bold;
}

.upperCase{
    text-transform: uppercase;
}

.green-text{
    color: $green;
}

.yellow-text{
    color: $yellow;
}

.blue-text{
    color: $main-blue;
}

.pink-text{
    color: $pink
}

.white-text{
    color: $white;
}

.btn-green--BG{
    background-color: $green;
}

.btn-yellow--BG{
    background-color: $yellow;
}

.btn-blue--BG{
    background-color: $main-blue;
}

.btn-pink--BG{
    background-color: $pink;
}

.btn-white--BG{
    background-color: $white;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*align-items: center;
    vertical-align: middle;
    align-content: space-around;*/
}