@import 'variables';
@import 'menu';
@import 'contact';
@import 'Home';
@import 'service';
@import url('https://fonts.googleapis.com/css?family=Montserrat');

//fonts
$main-font: 'Montserrat';

body{
    font-family: $main-font;
}

.justify{
    text-align: justify;
}

.center{
    align-items: center;
}

.upperCase{
    text-transform: uppercase;
}

.green-text{
    color: $green;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}